<% include ../layout/header %>

<div class="row">
<% photos.forEach(function(photo, index){ %>
	<div class="col third">
		<div class="photo-box">
			<div class="img" style="background-image:url(images/<%= photo.filename %>);">
				<div class="caption">
					<p> <%= photo.caption %> </p>
				</div>
			</div> 
			<div class="comments">
				<h3> Comments </h3>
				<% comments.forEach(function(comment, index){ %>
					
					<% if(photo.id == comment.photo_id){ %>
					<p> <%= comment.comment %> </p>
					<% }%>
				<% }); %>
			</div>
			<form action=" <%= req.baseUrl %>/<%= photo.id %>/comment" method="post">
				<input type="text" id="comment" name="comment" value="" required>
				<input type="submit" value="Reageer">
			</form>
		</div>
	</div>
<% }); %>
</div>

<% include ../layout/footer %>